@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: transparent;
  color: #fff;
  padding: 8px;
  z-index: 100;
  min-height: 54px;
  min-width: 54px;
}

.skip-link:focus {
  top: 100px;
}

/* styling header */
.header {
  position: fixed;
  width: 100%;
  min-height: 72px;
  background-color: #393646;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  font-family: 'Courier New', Courier, monospace;
  z-index: 100;
}

.header .header-menu {
  display: flex;
  background-color: transparent;
  border: none;
  font-size: 26px;
  padding: 8px;
  cursor: pointer;
  min-width: 54px;
  min-height: 54px;
}

.header .header-menu:focus {
  color: #1976d2;
}

.header .nav-menu {
  display: flex;
  align-items: center;
}

.header .nav-menu ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.header .nav-menu li {
  display: flex;
  list-style: none;
}

.header .nav-menu li a {
  display: flex;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 8px;
  margin-right: 16px;
  align-items: center;
  min-height: 44px;
  /* Ubah ke 44px */
  min-width: 44px;
  /* Ubah ke 44px */
}

.header .nav-menu li a:hover {
  color: #1976d2;
}

.header .logo {
  margin: 0 auto;
}

.header .logo a {
  min-height: 54px;
  font-size: 54px;
  color: #fff;
  text-decoration: none;
  font-weight: 200;
  font-family: 'Brush Script MT', cursive;
}

#drawer {
  display: flex;
  position: fixed;
  top: 72px;
  left: 0;
  width: 150px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.5);
  z-index: 100;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

#drawer ul {
  list-style-type: none;
  width: 100%;
}

#drawer ul li {
  list-style: none;
  text-align: center;
  height: 48px;
  border-bottom: 1px solid #ccc;
}

#drawer li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #393646;
  font-size: 18px;
}

#drawer li a:hover {
  background-color: #1976d2;
  color: #fff;
}

#drawer.open {
  transform: translateX(0);
}

/* styling jumbroton */
.hero {
  /* background-image: url(../public/images/heros/hero-image_4.jpg); */
  min-height: 380px;
  /* background-color: #393646;
  width: 100%;
  height: auto; */
  /* color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; */

  /* background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; */
}

.hero img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center center;
  object-repeat: no-repeat;
  object-size: cover;
}

.hero-inner {
  color: #fff;
  width: 100%;
  height: 50%;
  padding: 0 16px;
  margin-top: 50px;
  position: absolute;
  top: 20%;
  z-index: 1;
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  font-family: 'Brush Script MT', cursive;
}

.hero-tagline {
  font-size: 24px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/* styling main */
main {
  padding: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-bottom: 32px;
}

.content {
  margin: 0 auto;
  min-height: 100%;
}

.content .content__heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.restaurants {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.restaurants .resto-item:hover {
  transform: scale(1.05);
}


.resto-item {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
  font-size: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

.resto-item-header {
  padding: 16px;
}

.resto-item-header .resto-title .resto-name {
  font-size: 24px;
  margin-bottom: 8px;
  text-decoration: none;
  color: #000;
  min-height: 44px;
  min-width: 44px;
  display: flex;
}

.resto-item-header .resto-thumbnail {
  width: 100%;
  display: grid;
  border-radius: 8px;
  overflow: hidden;
  /* Mengatasi gambar yang mungkin terlalu besar */
}

.resto-item-header .resto-thumbnail img {
  width: 100%;
  /* Agar gambar mengisi seluruh kontainer */
  height: auto;
  /* Memastikan aspek ratio tetap terjaga */
}

.resto-item .resto-info {
  padding: 16px;
}

.restaurant {
  margin: 0 auto;
  margin-bottom: 32px;
  width: 100%;
  max-width: 10000px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
  border: #ccc 1px solid;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.restaurant .resto-title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 16px;
}

.restaurant .resto-thumbnail {
  padding: 8px;
  width: 100%;
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  /* Mengatasi gambar yang mungkin terlalu besar */
}

.restaurant .resto-info {
  padding: 16px;
}

.restaurant .resto-menu {
  padding: 16px;
}

.restaurant .resto-menu ul {
  list-style-type: none;
  font-size: 17px;
}

.restaurant .resto-reviews {
  padding: 16px;
}

.restaurant h3 {
  font-size: 20px;
}

.restaurant p {
  font-size: 18px;
}

/* like */
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1976d2;

  position: fixed;
  bottom: 12%;
  right: 50px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}

/* styling footer */
.footer {
  background-color: #393646;
  color: #fff;
  padding: 16px;
  text-align: left;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer .footer-inner {
  display: flex;
  align-items: center;
  justify-content: start;
}

.footer .footer-inner p {
  margin-right: 16px;
}

/* responsive layar/media screen styling */
@media screen and (max-width: 768px) {
  .header .nav-menu {
    display: none;
  }

  .header .header-menu {
    display: block;
  }

  #drawer {
    display: block;
  }

  .hero {
    min-height: 200px;
  }

  .hero-inner {
    margin-top: 16px;
  }

  .hero-title {
    font-size: 32px;
  }

  .hero-tagline {
    font-size: 16px;
  }

  main {
    padding: 16px 0;
  }

  main h1 {
    font-size: 32px;
  }

  .restaurants .resto-item {
    width: 100%;
  }

  .restaurants .resto-item-header .resto-title .resto-name {
    font-size: 20px;
  }
}

@media screen and (min-width: 769px) {
  .header {
    min-height: 64px;
  }

  .logo {
    font-size: 32px;
  }

  .header .header-menu {
    display: none;
  }

  #drawer {
    display: none;
  }

  .hero {
    min-height: 480px;
  }

  .hero-title {
    font-size: 64px;
  }

  .hero-tagline {
    font-size: 32px;
  }

  main {
    padding: 32px;
  }

  main h1 {
    font-size: 48px;
  }

  .footer {
    padding: 16px 32px;
  }

  .footer .footer-inner p {
    margin-right: 32px;
  }
}

@media screen and (max-width: 430px) {
  .header .header-menu {
    font-size: 18px;
    /* Ubah ukuran font menu */
  }

  .header .logo a {
    font-size: 36px;
    /* Ubah ukuran font logo */
  }

  .hero .hero-inner {
    padding: 0 8px;
    /* Ubah padding hero */
  }

  .hero-title {
    font-size: 24px;
    /* Ubah ukuran font judul hero */
  }

  .hero-tagline {
    font-size: 16px;
    /* Ubah ukuran font tagline hero */
  }
}

@media screen and (max-width: 250px) {
  .header .header-menu {
    font-size: 16px;
    /* Ubah ukuran font menu */
  }

  .header .logo a {
    font-size: 1em;
    /* Ubah ukuran font logo */
  }

  .hero-title {
    font-size: 18px;
    /* Ubah ukuran font judul hero */
  }

  .hero-tagline {
    font-size: 12px;
    /* Ubah ukuran font tagline hero */
  }
}