@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: transparent;
  color: #fff;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

/* styling header */
.header {
  position: fixed;
  width: 100%;
  min-height: 72px;
  background-color: #393646;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.logo {
  margin: 0 auto;
}

.logo a {
  min-height: 44px;
  font-size: 44px;
  color: #fff;
  text-decoration: none;
  font-weight: 200;
  font-family: 'Brush Script MT', cursive;
}

.header .nav-menu {
  display: flex;
  align-items: center;
}

.header .nav-menu ul {
  display: flex;
  align-items: center;
}

.header .nav-menu li {
  list-style-type: none;
}

.header .nav-menu li a {
  display: flex;
  min-width: 44px;
  min-height: 44px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin-right: 16px;
  align-items: center;
}

.header .nav-menu li a:hover {
  color: #1976d2;
}

.header .header-menu{
  font-size: 24px;
  color: #fff;
  min-width: 44px;
  min-height: 44px;
  box-shadow: none;
  cursor: pointer;
  background-color: transparent;
}

.header .header-menu:hover {
  color: #1976d2;
}

#drawer {
  position: fixed;
  top: 72px;
  left: 0;
  width: 150px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.5);
  z-index: 100;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  display: flex;
}

#drawer.open {
  transform: translateX(0);
}

#drawer ul {
  list-style-type: none;
  width: 100%;
}

#drawer ul li {
  border-bottom: 1px solid #ccc;
  text-align: center;
  height: 48px;
}

#drawer ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  min-height: 44px;
  min-width: 44px;
  font-size: 18px;
  justify-content: center;
}

#drawer ul li a:hover {
  color: #1976d2;
}

/* styling jumbroton */
.hero {
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  background-color: #1976d2;
  text-align: center;
  background-image: url(../public/images/heros/hero-image_4.jpg);
  background-position: center;
}

.hero-inner {
  width: 100%;
  padding: 0 16px;
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 16px;
}

.hero-tagline {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 16px;
}

/* styling main */
main {
  padding: 16px;
}

main h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
  margin-top: 32px;
  font-family: 'open sans', sans-serif;
}

/* styling footer */
.footer {
  background-color: #393646;
  color: #fff;
  padding: 16px;
  text-align: left;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer .footer-inner {
  display: flex;
  align-items: center;
  justify-content: start;
}

.footer .footer-inner p {
  margin-right: 16px;
}

/* responsive layar/media screen styling */
@media screen and (min-width: 768px) {
  .header {
    min-height: 64px;
  }
  
  .logo {
    font-size: 32px;
  }
  
  .header .header-menu {
    display: none;
  }
  
  #drawer {
    display: none;
  }
  
  .hero {
    min-height: 480px;
  }
  
  .hero-title {
    font-size: 64px;
  }
  
  .hero-tagline {
    font-size: 32px;
  }

  main {
    padding: 32px;
  }

  main h1 {
    font-size: 48px;
  }
  
  .footer {
    padding: 16px 32px;
  }
  
  .footer .footer-inner p {
    margin-right: 32px;
  }
}

@media screen and (max-width: 768px) {
  .header .nav-menu {
    display: none;
  }
}










